* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.9);
	height: 100vh;
}

.box {
	width: 200px;
	height: 200px;
	background: rgba(255, 200, 0, 0.9);
	border-radius: 50%;
	animation-name: quyosh; 
	animation-duration: 4s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

@keyframes quyosh {
	30% {
		box-shadow: 0 0 30px rgba(255, 200, 0, 0.8),
								0 0 40px rgba(255, 200, 0, 0.8),
								0 0 50px rgba(255, 200, 0, 0.8);
		padding: 5px;
	}
	50% {
		box-shadow: 0 0 80px rgba(255, 200, 0, 0.8),
								0 0 90px rgba(255, 200, 0, 0.8),
								0 0 100px rgba(255, 200, 0, 0.8);
		padding: 8px;
	}
	70% {
		box-shadow: 0 0 120px rgba(255, 200, 0, 0.8),
								0 0 130px rgba(255, 200, 0, 0.8),
								0 0 140px rgba(255, 200, 0, 0.8);
		padding: 12px;
	}
}